{% extends "layout.html" %}
{% block body %}
<table border="2">
        <tbody>
            <tr>
                <td><a href="{{url_for('allGrade', sorted = 'bygrade')}}">ALL GRADES(by grade)</a></td>
            </tr>

            <tr>
                <td><a href="{{url_for('allGrade', sorted = 'byname')}}">ALL GRADES(by name)</a></td>
            </tr>

            <tr>
                <td><a href="{{url_for('addGrade')}}">Add Grade</a></td>
            </tr>
        </tbody>
</table>
</br>
<table border="1">
        <tr>
            <th>STUDENT ID</th>
            <th>STUDENT NAME</th>
            <th>ASSIGNMENTS ID</th>
            <th>GRADE</th>
            <th>OPTIONS</th>
        </tr>

        {% for grade in grades %}
            <tr>
                <td>{{ grade.student_id }}</td>
                <td>{{ grade.name }}</td>
                <td>{{ grade.assignments_id }}</td>
                <td>{{ grade.grade }}</td>
                <td>
                    <button onclick="window.location.href='{{ url_for('deleteGrade', id = grade.id) }}'">delete</button>
                </td>
            </tr>
        {% endfor %}
</table>

<a href="{{url_for('index')}}">back</a>
{% endblock %}
